<div class="container">
  <h1>Groceries</h1>
  <select (change)="onTypeChange($event)" class="type-select">
      <option value="">Select type</option>
      <option value="fruit">Fruit</option>
      <option value="snacks">Snacks</option>
  </select>
  <ul class="grocery-list">
      <li class="grocery-item" *ngFor="let groc of (filteredGroceries$ | async) ?? (groceries$ | async)">
          <span class="increment-button" (click)="increment(groc)">+</span>
          {{ groc.name }}
          <span class="decrement-button" (click)="decrement(groc)">-</span>
      </li>
      <li *ngIf="!(groceries$ | async)">loading..</li>
  </ul>
</div>